
/* google fonts Sora */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');


:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark);
    font-weight: 700;
}
a{
    color: var(--dark);
    text-decoration: none;
}
.logo{
    width: 160px;
}
/* Hero area  */
.nav-item a {
    font-size: 14px;
}
.hero {
    background-image: url(../img/cover.jpg);
    position: relative;
    z-index: 2;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}
.hero h1 {
    font-size: 55px;
    /* line-height: 50px; */
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    /* line-height: 31px; */
    margin-bottom: 20px;
}


.card-effect{
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
    border-radius: 7px;
}
.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}
.single-service .icon{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
    flex: none;
}
.single-service .icon i{
    color: var(--white);
    font-size: 32px;
    
}

.single-service{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.single-service::after{
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--primary);
    z-index: -1;
    transition: all 0.4s ease;
    opacity: 0;
}

.card-effect:hover .icon{
    background-color: var(--white);
}
.card-effect:hover .icon i{
    color: var(--primary);
    
}
.single-service:hover p,  
.single-service:hover h5{
    color: var(--white);
}
.card-effect:hover:after{
    opacity: 1;
    top: 0;
    left: 0;
}

.feature-img{
    background-image: url(../img/cover2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

/* #features{
    --bs-gutter-x: 0 !important;
} */
.feature.single-service {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}
.feature.single-service:hover p,  
.feature.single-service:hover h5{
    color: var(--dark);
}

.single-project{
    position: relative;
    overflow: hidden;
}
.single-project img{
    transition: all .4s ease;
}
.single-project .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    padding: 30px;
    background-color: rgba(21, 20, 51, 0.8);
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: flex-end;
}
.single-project:hover .overlay{
    opacity: 1;
    visibility: visible;
}
.single-project:hover img{
  transform: scale(1.1);
}


form input.form-control,
form textarea.form-control{
    border: transparent;
    border-radius: 0;
    outline: none;
    background-color: #f8f9fa;

}
.form-control:focus{
    box-shadow: none;  
    background-color: #f8f9fa;
}
